.ant-menu-item-selected {
    background: #e0e2e3 !important;
}

.ant-menu-submenu-title {
    color: #212121 !important;
}

.ant-menu-submenu-title-selected,
.ant-menu-item-selected {
    color: #000000 !important;
}
