@layer base {
    html,
    body {
        margin: 0;
        padding: 0;
        background-color: var(--bg-layout);
    }

    :root {
        --bg: hsl(0, 0%, 100%);
        --fg: hsl(265, 10%, 3.9%);
        --bg-card: hsl(0, 0%, 100%);
        --fg-card: hsl(265, 10%, 3.9%);
        --bg-popover: hsl(0, 0%, 100%);
        --fg-popover: hsl(265, 10%, 3.9%);
        --bg-primary: hsl(265, 76%, 61%);
        --fg-primary: hsl(0, 0%, 98%);
        --bg-secondary: hsl(265, 30%, 95.9%);
        --fg-secondary: hsl(265, 35%, 10%);
        --bg-muted: hsl(265, 20%, 95.9%);
        --fg-muted: hsl(265, 15%, 46.1%);
        --bg-accent: hsl(265, 40%, 95.9%);
        --fg-accent: hsl(265, 35%, 10%);
        --bg-destructive: rgb(239, 68, 68);
        --fg-destructive: hsl(0, 0%, 98%);
        --bg-warning: hsl(36, 100%, 50%);
        --fg-warning: hsl(0, 0%, 98%);
        --bg-success: hsl(142, 76%, 36%);
        --fg-success: hsl(0, 0%, 98%);
        --border: hsl(265, 25%, 90%);
        --input: hsl(265, 25%, 90%);
        --ring: hsl(265, 76%, 61%);
        --radius: 8px;
        --bg-layout: hsl(220, 12%, 95%);
        --fg-layout: hsl(265, 10%, 3.9%);

        /* Chart colors */
        --chart-1: hsla(265, 76%, 61%, 0.8);
        --chart-2: hsla(160, 76%, 41%, 0.8);
        --chart-3: hsla(320, 56%, 71%, 0.8);
        --chart-4: hsla(40, 86%, 51%, 0.8);
        --chart-5: hsla(280, 66%, 31%, 0.8);

        /* Padding */
        --padding: 16px;
        --padding-lg: 24px;
        --padding-md: 12px;
        --padding-sm: 8px;
        --padding-xs: 4px;
    }
}
